<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Forgot Password Page</title>
</head>
<body>
    <div id="messagePop">
        {% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
    </div>
                    {% if  request.session.details %}
                    <form action="/adminResetPasswordPage/" method="post">
                        {% csrf_token %}
                        
                        <input id="kp" type="number" name="otp"  placeholder="OTP">
                        <input id="kp" type="submit">
                    </form>
                    {% else %}
           
            <form action="/adminForgotPassword/" method="post">
                {% csrf_token %}
                
                <input type="email" name="email" placeholder="Enter Your Email" id="email" required ><br>
                <input class="submit" type="submit"><br>

                </form>

           </div>


           </div>
            {% endif %}
</body>
</html>