{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Teacher Forgot Password Page</title>
    <link rel="stylesheet" href="{% static 'css/studentlogin.css' %}">


</head>
<body>

    <div id="main">
        <div id="page1">
            <div id="nav">
                    
                <div class="prt1">
                    <img src="{% static 'Images/logo.png' %}" alt="">
                    
                </div>
                
                
                <div class="prt2">
                    <a style=" padding: 1vw; border-radius: 1.5vw;   background-color: salmon; color: white;" href="/">Home</a>
                  
                </div>
                
                {% if user.is_authenticated %}   
                <!-- <div class="prt3">
                  
                  <i class="ri-menu-3-line"></i>
                  <div class="admin">
                   
                   <h4>Teacher</h4>
                   <h4>Admin</h4>
                  
                  </div>
              </div> -->
              {% else %}
                  <!-- <div class="prt3">
                    
                  <i class="ri-menu-3-line"></i>
                  <div class="admin">
                   
                    <h4>Teacher</h4>
                    <h4>Admin</h4>
                   
                   </div>
        
                </div> -->
              {% endif %}
        
                </div>
                <div id="messagePop">
                    {% if messages %}
                <ul class="messages">
                {% for message in messages %}
                <script>
                    alert("{{message}}")
                </script> 
                <!-- <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li> -->
                {% endfor %}
                </ul>
                {% endif %}
                </div>
                <div class="middle">
        
                    <div class="left">
                     <div  style="margin-top: 17vh;     background-color: rgba(183, 179, 186, 0.233); padding: 3vw; width: 70%; border-radius: 2vw ;"  class="cont">
                         {% if  request.session.details %}
                         <h1> Reset Password</h1>
    
                         <form action="/teacherResetPasswordPage/" method="post">

                             {% csrf_token %}
                             
                             <input id="kp" type="number" name="otp"  placeholder="OTP">
                             <input id="kp" type="submit">
                         </form>
                         {% else %}
                         <form style=" padding: 1vw; display: flex; flex-direction: column; gap: 8vh;" action="/teacherForgotPassword/" method="post">
                            {% csrf_token %}
                         <h1 style="font-size: 3vw; color: salmon; font-family: Montserrat; "> Forget Password</h1>
                            
                            <div style="display: flex; flex-direction: column; gap: 1vh;" class="v">
                                <input type="email" name="email" placeholder="Enter Your Email" id="email" required ><br>
                            <input style="cursor: pointer;"  class="submit" type="submit"><br>
            
                            </div>
                            </form>
                {% endif %}
    
                         </div>
    
                    </div>
                    <div class="right">
                     <img src="http://cliparts.co/cliparts/pc7/Bra/pc7Branc9.png" alt="">
                    </div>
                 </div>
                 
                
        </div>
    </div>





    <div id="messagePop">
        {% if messages %}
<ul class="messages">
    {% for message in messages %}
    <script>
        alert(`{{message}}`)
    </script>
    <!-- <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li> -->
    {% endfor %}
</ul>
{% endif %}
    </div>
                    {% if  request.session.details %}
                    <form action="/teacherResetPasswordPage/" method="post">
                        {% csrf_token %}
                        
                        <input id="kp" type="number" name="otp"  placeholder="OTP">
                        <input id="kp" type="submit">
                    </form>
                    {% else %}
           
            <form action="/teacherForgotPassword/" method="post">
                {% csrf_token %}
                
                <input type="email" name="email" placeholder="Enter Your Email" id="email" required ><br>
                <input class="submit" type="submit"><br>

                </form>

           </div>


           </div>
            {% endif %}
</body>
</html>