{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{request.user}} Dashboad</title>
    <link rel="stylesheet" href="{% static 'css/teacherdashboard.css' %}">

</head>
<body>
    <div id="main">
        <div id="page1">

<div id="left">
    <h2>My Profile</h2>
    
    <div id="img"><img src="/media/{{pic}}" alt=""></div>
    <h1>{{name}}</h1>
    <div class="work">
        <a href="/createTestPage/">Create Test</a><br>
        <a href="/viewTestPage/">View Test</a><br>
        <a href="/resultPage/">Results</a><br>
        <a href="/interestedStudentsList/">Interested Students</a><br>
    </div>



</div>
<div id="right">
    <div id="nav">
                    
        <div class="prt1">
            <img src="{% static 'Images/logo.png' %}" alt="">
            
        </div>
        
        
        <div class="prt2">
            <a href="">Home</a>
            <a href="/logoutUser/">Logout</a>
            <!-- <a href="">Courses</a>
            <a href="">-Quizes</a> -->
        </div>
    
       

        </div>


        <!-- <h1><p>Welcome, {{request.user}} Dashoard</p></h1>-->


        <h1>Welcome to Teacher Dashboad</h1>
</div>
           
          
        </div>
    </div>
    <div>
        {% if messages %}
    <ul class="messages">
    {% for message in messages %} 
    <script>
        alert(`{{message}}`)
    </script>
    <!-- <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li> -->
    {% endfor %}
    </ul>
    {% endif %}
    </div>





</body>
</html>