*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: gilroy;
}
html,body{
height: 100%;
width: 100%;
}


#main{
    height: 100%;
    width: 100%;
}

#page1{
    height: 100%;
    width: 100%;
}

#nav{
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0vw 3.5vw;
    /* background-color: rgba(254, 196, 189, 0.387); */
    border-bottom-left-radius: 30px ;
    border-bottom-right-radius:30px ;
    
    
    
}
.prt2{
    display: flex;
    gap: 7vw;
}
.prt1 {
    display: flex;
    align-items: center
    ;
}
.prt1 img{
    height: 4vw;
}
.prt3{
    display: flex;
    gap: 80px;
    align-items: center;
    /* background-color: black; */
    position: relative;
}
.prt3 i{
    font-size: 2.2vw;
    cursor: pointer;
    color: salmon;
    transition: all ease 0.3s;
    z-index: 9    ;
}

.admin{
    position: absolute;
    padding: 1.5vw;
    
    border-radius: 20px;
    /* background-color: salmon; */
    color: salmon;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
        bottom: -100px;
        right: -20%;
        height: 8vw;
        transition: all ease 0.3s;
        opacity: 0;
        text-align: start;
        
        

}
.admin h4{
    font-size: 1.3vw;
    line-height: 1.3vh;
    font-family: kinta;
    
}
.prt3 button{
    font-size: 1.4vw;
    cursor: pointer;
    border-radius: 10px;
    padding: 0.9vw 2vw;
    border: none;
    background-color: salmon;
    color: white;
    font-family: gilroy;

}
.prt2 a{
    text-decoration: none;
    font-size: 1.5vw;
    color: black;
    font-weight: 600;
}


.page1 h1{
    font-size: 5vw;
    /* text-align: center; */
    margin-top: 1vh;
    font-family: gilroy;
    color: salmon;
    font-weight: 900;
}
.cont{
    display: flex;
    flex-direction: column;
    gap: 70px;
    margin-left: auto;
    margin-top: 8vh;
    margin-right: auto;   
    width: 50%;
    /* background-color: rosybrown; */
    
}
form{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.email{
    display: flex;
    align-items: center;
    width: 45vw;
    
    /* background-color: rebeccapurple; */
}
input{
    
    
    border-radius: 20px;
    padding: 1vw;
    border: none;
    outline: none;
    font-size: 1.6vw;
    width: 30vw;
    background-color: rgba(254, 164, 154, 0.305);

}
label{
    font-size: 2.5vw;
}

.password{
    display: flex;
align-items: center;
width: 45vw;
    
    /* background-color: rebeccapurple; */
}
.bot{
    /* background-color: rebeccapurple; */
    display: flex;
    flex-direction: column;
}
.subbutton{
    
    background-color: salmon;
    color: white;
    margin-right: 5vw;
    


}
form p{
    font-size: 1.5vw;
    font-family: kinta;
    display: flex;
    font-weight: 600;
    gap: 30px;
    
    align-items: center;
    /* background-color: royalblue; */
    height: 50px;
}
form p a{
    text-decoration: none;
    color: salmon;
}

.middle{
    display: flex;
    width: 100%;
    height: 80%;

}
.left{
    width: 60%;
    height: 100%;

}
.right {
    width: 40%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
}
.right img{
    height: 20vw;
}